@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
<table class="table">
    <thead>
        <tr><th>Номер рейса</th><th>Боррт</th><th>Направление</th><th>Вылет</th><th>Прибытие</th></tr>
    </thead>
    <tbody>
        @foreach (var one in Model.Flights)
        {
            <tr>
                <td>@one.FlightId</td>
                <td>@one.AircraftId</td>
                <td>@one.Destination</td>
                <td>@one.DepartureDate</td>
                <td>@one.ArrivalDate</td>
            </tr>
        }
    </tbody>
</table>
</div>
